:root {
  --page-bg: #0D2436;
  --font-color-default: #FFFFFF;
  --font-color-hover: #CCCCCC;
  --card-and-button-bg: #009B86;
  --card-selected: #009B86;
  --card-and-button-hover: #34AC9C;

  --color-alpha: #0D2436;
  --color-beta: #1f4858;
  --color-beta-hover: #2a5a6d;
  --color-gamma: #009B86;
  --color-gamma-hover: #34AC9C;
  --color-gamma-selected: #009B86;
}

.App {
  text-align: center;
}

body {
  background-color: var(--color-alpha);
  color: var(--font-color-default);
}

h2 {
    background-color: var(--color-beta);
}

* {
  font-family: "Roboto", sans-serif;
}